<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="tnerhbeauty.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="tnerhbeauty.Properties.Settings.DBBETTERLIFE_MDF"
      connectionString="Data Source=41.38.119.3;Initial Catalog=DBBETTERLIFESERVER;User ID=ba;Password=ba;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ch_kilo" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <tnerhbeauty.Properties.Settings>
      <setting name="ch_kilo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ch_auto_insert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ch_not_celar_ItemQty" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="id_client" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ch_is_agel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ch_Group" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dr_discunt_item" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="id_user" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="server" serializeAs="String">
        <value>ip server</value>
      </setting>
    </tnerhbeauty.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>